<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zflash.video_compress">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
</manifest>
